* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #f9f9fd;
}
.btn {
  position: relative;
  display: inline-flex;
  border: none;
  margin: 0;

  padding: 10px 30px;
  border-radius: 3px;
  background-color: #008080;
  color: #ffffff;
  font: inherit;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;

  background-color: brown;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover::before {
  transform: translateY(-35px);
}
.btn::after {
  position: absolute;

  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;

  background-color: green;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: lightcoral;
  color: blue;
}
